/* HTML RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*CUSTOM STYLES*/

/*HEADER*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12.0pt;
    color: white;
    width: 100%;
    background-image: url('../images/concert.jpg');
    background-size: cover;                     
    background-repeat: no-repeat;
    background-position: center center;
}

header {
    height: 60px;
    width: 100%;     
    overflow-x: auto;
    overflow-y: hidden;
    display: block;
    position: fixed;
    background-color: black;
    line-height: 60px;

}

nav ul li{
    list-style:none;
    text-align: center;
    display: inline-flex;
    padding-right:20px;
}

nav ul li a{
    text-decoration:none;
    padding:4px 5px;
}

nav{
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

nav a{
    padding: 30px;
    text-transform: uppercase;
    text-decoration: none;
}

a:link, a:visited { color: white;}
a:hover {color: #CFC0B0;}
a:active, .active {color: #A3956D;}

a.active{
    color: #A3956D;
}

#button_container{
    display: inline-block;
    width: 25%;
    vertical-align: middle;   
}

#button_contact{
    display:none;
    float: right; 
}

#dropdown_content{
    display: none;
}

/*HERO*/

#inner_wrapper{
    width: 985px;
    margin: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#hero{
    width: 100%;
    height: 380px;
}

#title{
    width:320px;
    margin: auto;
    text-align: center;
    height: 100px;
    color: white;
    padding: 200px 0  0;
    background-image: url('../images/diamond.png');
    background-size: 50%;                     
    background-repeat: no-repeat;
    background-position: bottom center;
}

#title h1 {
    font-size: 60pt;
    margin: -30px 0 10px 0;
}

/*SECTIONS*/

section {
    margin: 0 15px 15px 15px;
    padding: 30px;
    line-height: 17.5px;
    display: inline-block;
    float:left;
    background-color: rgba(0, 0, 0, 0.5);
}

.half {
    width: 410px;
    height: 335px;
    margin-right: 0px;
}

.long {
    width: 603.75px;
}

.long img {
    display: block;
    margin-bottom: 20px;
}

.album_info, .album_cover {
    display: inline-block;
    float: left;
}
.album_cover{
    height: 141px;
    width: 141px;
    padding-right: 10px;
    float: left;
}

.album_info p {
    margin-bottom: 5px;
}

.album_info {
    width: inherit;
    margin-right: 30px;
}
audio{
    width: 50%;
    height:32px;
}

.audio{
 width: 100%;
}

.audio,a.audio_button {
    margin:10px;
    float: right;
}

.track-row audio{
    float: right;
}

/* PLAYLIST - Music page*/
.playlist-album-iframe {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.track-column {
    float: left;
    display: inline-table;
    padding: 5px;
    text-align: left;
    height: 20px;
}

.track-column a{
    text-decoration: none;
}

.horiz {
    width: 216.25px;
    height: 530px;
}

#section_wrapper {
    width: 678.75px;
    display: inline-block;
    float: left;
}

h2, h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

h2 {
    font-size: 16pt;
    font-family: 'Open Sans', sans serif;
}

hr {
    border: 1.5px solid #A3956D ;
}

section p {
    margin-bottom: 25px;
}

.long p, .half p, .whole p {
    line-height: 1.3;
}

/*BUTTON STYLING*/

.button_link{
    text-align: center;
    border: 2.5px solid #A3956D ;
    background-color: transparent;
    text-decoration: none;
    font-style: italic;
    color: #CFC0B0;
    padding: 10px 20px;
    transition-property: color, background-color;
    transition-duration: .3s;
    transition-timing-function: linear;
    font-size: 15px;
}

.button_link:hover{
    background-color: #A3956D ;
    color: white;
    cursor: pointer;
}


.fa {
    font-size: 20px;
}

.fa-angle-left, .fa-envelope-o {
   padding-right: 10px;
}

.fa-angle-right{
    padding-left: 10px;
}

.icons-social{
    margin: 10px;
}

.icon {
    font-size: 36px;
    margin: 10px;
}

/*SHOWS SECTION*/

.horiz hr {
    margin-bottom: 25px;
}

.concert {
    margin-bottom: 20px;
    height: 60px;
}

.concert:last-of-type {
    margin-bottom: 25px;
}

.concert p {
    margin-bottom: 0px;
}

.concert_date {
    width: 60px;
    height: 60px;
    color: black;
    background-color: #A3956D;
    text-align: center;
}

.date {
    font-size: 25pt;
    height: 40px;
    line-height: 40px;
}

.month {
    height: 20px;
}

.concert_date, .concert_description {
    display: inline-block;
    float: left;
}

.concert_description {
    margin: 0 0 0 15px;
    line-height: 20px;
}

/*SUBSCRIBE SECTION*/

.whole {
    width: 895px;
}

.centered {
    text-align: center;
}

input[type=email] {
    width: 300px;
    height: 35px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 25px;
    border: 2.5px solid #A3956D;
    display: block;
    color: white;
    background-color: black;
}

/*FOOTER*/

footer {
    clear: both;
    width: 985px;
    margin: auto;
    height: 80px;
    text-align: center;
    line-height: 30px;
    color:white;
    background-color: black;
    font-size: 10pt;
}

footer a{
    text-decoration: underline;
    display: block;
}

footer div {
    width: 462.5px;
    display: inline-block;
    float:left;
    text-align: left;
    padding: 10px 15px;
}

footer div:last-of-type {
    text-align: right;
}

/*INFO PAGE STYLING*/ 

ul {
    list-style: disc inside;
    margin: 10px 0 10px 25px;
}

li {
    line-height: 1.3;
}

ul ul {
    list-style: circle inside;
}

p+ul>li:last-of-type, hr+ul>li:last-of-type {
    margin-bottom: 25px;
}

img.photo{
    width: 370px;
    height: 350px;
    margin: 15px;
    border: 1px solid #A3956D;
}

.photo-left{
    float: left;
}

.photo-right {
    float: right;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 1024px),
(min-device-width: 320px) and (max-device-height: 795px) {
    
    body {
        background-image: none;
    }
    
    #inner_wrapper {
        height: 0px;
    }
    
    #inner_wrapper, footer, #section_wrapper{
        width: 100%;
    }
    
    #section_wrapper {
        height: auto;
    }
    
    #hero {
        background-image: url('../images/concert.jpg');
        background-size: cover;                     
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    section, .half, .long, .horiz, .whole {
        width: calc(100% - 60px); 
        height: auto;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.8);
    }
    
    .album_info {
        width: calc(100% - 141px); 
        margin: 0;
    }
    
    .album_info hr{
        width: calc(100% - 15px);
        float: left;
    }
    
    .album_info h2 {
        line-height: 22.5px;
    }
    
    audio {
        width: 100%;
    }
    
    .centered {
        text-align: left;
    }
    
    input[type=email] {
        width: 250px;
        margin: 0 0 25px 0;
    }
    
    footer{
        height: 160px;
    }
    
    footer div {
        padding: 10px 30px;
        width: calc(100% - 60px);
    }
    
    footer div:last-of-type {
        text-align: left;
    }
    
    p+ul,hr+ul {
        margin-left: 0px;
    }
    
    /*DROPDOWN MENU*/
    
    nav {
        display: none;
    }
    
    #button_contact {
        display: block;
        height: 60px;
        background-image: url('../images/menu1.png');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0% 50% ;
        margin-right: 0px;
        width: 40px;
        cursor: pointer;
        border-color: transparent;
        background-color: transparent;
    }
    
    #button_contact:hover {
        background-image: url('../images/menu2.png');
    }
  
    #button_container { 
        width: 5%;
        padding-right: 7.5%;
        float: right;
        position: relative;
        display: inline-block;
    }

    #dropdown_content {
        display: none;
        position: absolute;
        right: 7.5%;
        background-color: black;
        width: 200px;
        top: 60px;
        color: transparent;
    }
    
    #dropdown_content a {
        padding-left: 15px;
        display: block;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
    }
    
    #dropdown_content a:hover, #dropdown_content a:active {
        background-color: #A3956D;       
    }

    #button_container:hover #dropdown_content {
        display: block;
        position: fixed;
    }
}


